[Unit]
Description=Keep track of media player activity
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/playerctld daemon

[Install]
WantedBy=sway-session.target
